<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color:white;">User List - Homework for Digital Natives II.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarColor02">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
            Add user
        </button>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2" placeholder="Search users by first name..." required>
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;"
            class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-sm-8">
                        <h5>{{user?.first_name}}</h5>
                        <h5>{{user?.last_name}}</h5>
                        <p>{{user?.created_at}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button (click)="selectUser(user)" type="button" class="btn btn-primary tooltips"
                            data-original-title="Edit" data-toggle="modal" data-target="#updateUserModal">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="selectUser(user)" type="button" class="btn btn-secondary tooltips"
                            data-original-title="Delete" data-toggle="modal" data-target="#deleteUserModal">
                            <i class="fa fa-times"></i>
                        </button>
                        <button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="was-validated" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" ngModel name="first_name" class="form-control needs-validation"
                                id="firstname" placeholder="First name" required>
                            <div class="valid-feedback">Such a pretty first name!</div>
                            <div class="invalid-feedback">First name required!</div>
                        </div>
                        <div class="form-group">
                            <label for="email">Last Name</label>
                            <input type="text" ngModel name="last_name" class="form-control" id="lastname"
                                placeholder="Last name" required>
                            <div class="valid-feedback">Such a pretty last name!</div>
                            <div class="invalid-feedback">Last name required!</div>
                        </div>
                        <div class="form-group">
                            <label for="dob">Created at:</label>
                            <input type="date" ngModel name="created_at" class="form-control" id="dob"
                                placeholder="createdat" required>
                            <div class="valid-feedback">Now THAT is a good date to be created at!</div>
                            <div class="invalid-feedback">Date required!</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-add-user-form" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div *ngIf="selectedUser" class="modal fade" id="updateUserModal" tabindex="-1" role="dialog"
        aria-labelledby="UserEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateUserModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="was-validated" [formGroup]="editForm" (ngSubmit)="onUpdateUser()">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input [(ngModel)]="selectedUser.first_name" required formControlName="first_name" type="text"
                                name="first_name" class="form-control" id="first_name" aria-describedby="emailHelp"
                                placeholder="First Name">
                            <div class="valid-feedback">Good choice, I like this change!</div>
                            <div class="invalid-feedback">First name required!</div>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input [(ngModel)]="selectedUser.last_name" required formControlName="last_name" required
                                type="text" name="last_name" class="form-control" id="last_name" placeholder="Last Name">
                            <div class="valid-feedback">Good choice, I like this change!</div>
                            <div class="invalid-feedback">Last name required!</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-edit-user-form" data-dismiss="modal"
                                class="btn btn-secondary">Close</button>
                            <button [disabled]="!editForm.valid" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>